@(providerId: String,
    loginForm: Option[Form[(String, String)]] = None)(implicit request: RequestHeader,
    lang: Lang,
    env: securesocial.core.RuntimeEnvironment[_])

@import securesocial.core.AuthenticationMethod._
@import play.api.Logger
@import helper._

@implicitFieldConstructor = @{
  FieldConstructor(securesocial.views.html.inputFieldConstructor.f)
}

@env.providers.get(providerId).map { provider =>
  @if(provider.authMethod == OAuth1 || provider.authMethod == OAuth2) {
    @defining("images/providers/%s.png".format(provider.id)) { imageUrl =>
      <a class="btn btn-default btn-login btn-lg btn-block"
        href="@env.routes.authenticationUrl(provider.id)">
        <img src="@routes.Assets.at(imageUrl)" width="40px"/>
        Sign in with @provider.id.capitalize
      </a>
    }
  }

}.getOrElse {
  @*****************************************
  * Todo: throw a runtime exception? this might need improvement
  *****************************************@
  @Logger.error("[secure] unknown provider '%s'. Can't render it.".format(providerId))
  { throw new RuntimeException("Unknown provider '%s') }
}
